#!/usr/bin/bash

export LANGUAGE='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

shopt -s histappend

# executable -> green
export CLICOLOR=1
export LSCOLORS=ExFxBxDxCxegedabagacad

# Completion!
if [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
fi

# Aliases :-D
if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi
# Load profile
if [ -f ~/.bash_profile ]; then
    . ~/.bash_profile
fi

export EDITOR="{{ editor }}"
export KOHA_CONF=/etc/koha/sites/{{ koha_instance_name }}/koha-conf.xml
export PERL5LIB="{{ koha_dir }}:{{ koha_qa_dir }}"
export TEST_QA=1

PS1='\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\W\[\033[00m\]$(__git_ps1 "\[\e[1;33m\](%s)\[\e[0m\]")$ '
