# Alias for the Koha QA tool
alias qa="{{ home_dir }}/qa-test-tools/koha-qa.pl"

# Aliases for reading logs
alias koha-opac-err="sudo tail -f /var/log/koha/{{ koha_instance_name }}/opac-error.log"
alias koha-intra-err="sudo tail -f /var/log/koha/{{ koha_instance_name }}/intranet-error.log"
alias koha-plack-log="sudo tail -f /var/log/koha/{{ koha_instance_name }}/plack.log"
alias koha-plack-err="sudo tail -f /var/log/koha/{{ koha_instance_name }}/plack-error.log"

# Aliases for getting the db/admin user and password for our instance
alias koha-user="sudo xmlstarlet sel -t -v 'yazgfs/config/user' -n '/etc/koha/sites/{{ koha_instance_name }}/koha-conf.xml'"
alias koha-pass="sudo xmlstarlet sel -t -v 'yazgfs/config/pass' -n '/etc/koha/sites/{{ koha_instance_name }}/koha-conf.xml'"

# Alias to recreate the schema files
alias dbic="mysql -uroot -e 'DROP DATABASE IF EXISTS dbic; CREATE DATABASE dbic' ; \
            cd '{{ koha_dir }}' ; \
            mysql -uroot dbic < installer/data/mysql/kohastructure.sql ;\
            misc/devel/update_dbix_class_files.pl --db_name dbic --db_user root"

# Alias for restarting all needed services
alias restart_all="sudo service memcached restart ; sudo service apache2 reload ; sudo service koha-common restart"

# Alias for reseting everything koha-related
alias reset_all='mysql -u koha_{{ koha_instance_name }} -p{{ koha_db_password }} -e"DROP DATABASE koha_{{ koha_instance_name }}" ; \
                 mysql -u koha_{{ koha_instance_name }} -p{{ koha_db_password }} -e"CREATE DATABASE koha_{{ koha_instance_name }}" ; \
                 perl {{ misc4dev_dir }}/do_all_you_can_do.pl --instance {{ koha_instance_name }} --userid {{ koha_admin_user }} --password {{ koha_admin_pass }} ; \
                 restart_all'

alias plack_debug_start='sudo /usr/sbin/koha-plack-debug --start --debugger --debugger-path {{ remote_debugger_dir }}/{{ remote_debugger_package }} \
                                                            --debugger-location {{ remote_debugger_location }} --debugger-key {{ remote_debugger_key }} \
                                                            {{ koha_instance_name }}'
