export KOHA_USER=koha_{{ koha_instance_name }}
export KOHA_PASS={{ koha_db_password }}
export KOHA_INTRANET_URL=http://localhost:8080
export KOHA_OPAC_URL=http://localhost:80
export PERL5LIB="{{ koha_dir }}:{{ koha_qa_dir }}"
export TEST_QA=1

# Alias for the Koha QA tool
alias qa="{{ home_dir }}/qa-test-tools/koha-qa.pl"
alias prove_debug='PERL5LIB="{{ remote_debugger_dir }}/{{ remote_debugger_package }}":$PERL5LIB \
                   PERL5DB="BEGIN { require q({{ remote_debugger_dir }}/{{ remote_debugger_package }}/perl5db.pl) }" \
                   PERLDB_OPTS="RemotePort={{ remote_debugger_location }} async=1 LogFile=/var/log/koha/{{ koha_instance_name }}/plack-debug.log" \
                   perl -d'